
* {
  color: rgb(109, 232, 236);
  border: 1px solid rgb(145, 141, 141);
} 

div {
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: vertical;
    overflow: auto;
  }

  p.round3 {
    border: 2px solid wheat;
    border-radius: 40px;
    color:darkgray;
  }