.App {
  text-align: center;
  width: 100%;
  padding: 50px 10px;
  background-color: #e7eee5;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  display: table;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #e7eee5;
  padding: 30px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
