body {
   margin: 0;
}

.quiz {
   margin: 0;
}

.quiz-questions-item__question {
      margin-bottom: 20px;
      font-size: 20px;
}

.quiz-questions-item__answers {
      margin: 0;
      padding: 0;
      list-style: none;
}

.quiz-results-item__answers {
   margin: 0;
   padding: 0;
   list-style: none;
}

.quiz-results-item__question {
   margin-bottom: 20px;
   font-size: 20px;
}

.quiz-indicator {
   margin-top: 20px;
   margin-bottom: 20px;
}

.quiz-results {
   margin-bottom: 20px;
}

.btn-next {
   margin-bottom: 20px;
}

.btn-restart {
   display: none;
}